* {
  color: white;
}

/* #nav-bar{
    position: relative;
    bottom:30vh;
}*/
#search-results{
    position: relative;
    /* bottom:-15%; */
    padding: 5%;
    padding-top: 10%;
} 
app-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.search-results ul li {
  transition: background-color 0.3s ease; /* Adăugăm o tranziție de 0.3 secunde pentru culoarea de fundal */
  padding: 1%;
  border-radius: 10px;
}

.search-results ul li:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.75
  ); /* Folosim rgba pentru a specifica o culoare neagră cu opacitate de 75% */
  cursor: pointer;
}

@media screen and (max-width: 414px){

  #search-results{
    position: relative;
    /* bottom:-15%; */
    padding: 5%;
    padding-top: 20%;
} 

#search-results h2, h3{
  font-size: 18px;
}
app-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.search-results ul li {
  transition: background-color 0.3s ease; /* Adăugăm o tranziție de 0.3 secunde pentru culoarea de fundal */
  padding: 1%;
  border-radius: 10px;
  font-size: 12px;
}

.search-results ul li:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.75
  ); /* Folosim rgba pentru a specifica o culoare neagră cu opacitate de 75% */
  cursor: pointer;
}
.truncate {
  width: 300px; /* Setează lățimea dorită a containerului */
  white-space: nowrap; /* Nu permite textului să se împartă pe mai multe linii */
  overflow: hidden; /* Ascunde orice text care depășește lățimea containerului */
  text-overflow: ellipsis; /* Adaugă puncte de suspensie (...) pentru textul care este trunchiat */
}

  
}
