input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.logo {
  grid-column: 2;
  position: relative;
  bottom: 6vh;
}

#enhance{
  position: relative;
  padding: 5px;
  font-size:10px;
  background-color:#6450a3;
  color:white;
}
#enhance:hover{
  background-color:black;
}

.add-car-container {
  width: 40vw;
  margin: 0;
  position: relative;
  grid-column: 1;
  top: 0vh;
  overflow: hidden;
  background: transparent;
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
}
app-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

form {
  border-radius: 15px;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 4vh;
  background-color: transparent;
  font-size: 1.12rem;
  align-items: center;
}

label {
  color: white;
  font-size: 1.2rem;
}
input {
  background-color: #6450a3;
}

input[type="text"],
input[type="password"],
input[type="submit"],#enhance {
  width: 100%;
  padding: 1.5vh;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

/* button, */
input[type="submit"] {
  position: relative;
  width: 35%;
  left: 35%;
  padding: 2vh;
  border: none;
  border-radius: 15px;
  background-color: #6450a3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* button:hover, */
input[type="submit"]:hover {
  background-color: black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="radio"] {
  background-color: #6450a3;
  color: white;
}
.suggestion {
  padding: 5px;
  margin: 5px 0;
  color: rgba(0, 213, 255, 0.979);
  border: 2px solid rgba(0, 213, 255, 0.979);
  border-radius: 5px;
}
@media screen and (min-width: 770px) {
  .add-car-container {
    width: 30vw;
    height: 100vh;
    top: 100px;
    position: relative;
  }
  form {
    border-radius: 15px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    background-color: transparent;
    font-size: 0.88rem;
    align-items: center;
  }
  .logo {
    width: 50vw;
  }
  .logo img {
    width: 90%;
    position: relative;
    left: 10%;
  }

  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    width: 100%;
    padding: 0.6vh;
    margin-bottom: 3px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
  }

  /* button, */
  input[type="submit"] {
    position: relative;
    width: 35%;
    left: 35%;
    padding: 1vh;
    border: none;
    border-radius: 15px;
    background-color: #6450a3;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  label {
    font-size: 0.7rem;
  }

  .error-message {
    padding: 5px;
    margin: 5px 0;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 0.5rem;
  }
}
