
<form (ngSubmit)="resetPassword()">
    <div>
      <label for="newPassword">Parola noua:</label>
      <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
    </div>
    <div>
      <label for="confirmPassword">Confirma parola:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
    </div>
    <input type="hidden" name="token" value="{{token}}">
    <input type="hidden" name="username" value="{{username}}">
    <button type="submit">Reseteaza parola</button>
  </form>
  