<form (submit)="sendEmail($event)">
  <div [formGroup]="forgotPasswordForm">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      formControlName="username"
      required
    />
    <div
      *ngIf="
        forgotPasswordForm.get('username')?.hasError('required') &&
        forgotPasswordForm.get('username')?.touched
      "
      class="error-message"
    >
      Enter username
    </div>
    <label for="email">Email:</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      name="email"
      required
    />
    <div
      *ngIf="
        forgotPasswordForm.get('email')?.hasError('emailInvalid') &&
        forgotPasswordForm.get('email')?.touched
      "
      class="error-message"
    >
      Invalid email
    </div>
  </div>
  <button type="submit">Send email</button>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</form>
