<app-navbar />
<div class="container">
  <!-- <div class="logo">
    <img src="assets/style_assets/logo_main.png" alt="logo" />
  </div> -->
  <div class="register-container" id="form-cautare">
    <div id="customSearch">
      <label for="customSearch">Cautare personalizata:</label><br />
      <input type="text" id="customSearch" />
      <button (click)="customSearch()">Cauta</button>
      </div>
    <form (ngSubmit)="applyFilter()" [formGroup]="findForm">
      <label for="marca">Marca masina:</label><br />
      <input
        formControlName="marca"
        type="text"
        id="marca"
        name="marca"
      /><br />
      <label for="model">Model:</label><br />
      <input
        formControlName="model"
        type="text"
        id="model"
        name="model"
      /><br />

      <label for="anSelectatMinim">An fabricatie minim:</label><br />
      <select
        formControlName="anSelectatMinim"
        id="anSelectatMinim"
        name="anSelectatMinim"
      >
        <option *ngFor="let an of rangeAn" [value]="an">
          {{ an }}
        </option></select
      ><br />
      <label for="anSelectatMaxim">An fabricatie maxim:</label><br />
      <select
        formControlName="anSelectatMaxim"
        id="anSelectatMaxim"
        name="anSelectatMaxim"
      >
        <option *ngFor="let an of rangeAn" [value]="an">
          {{ an }}
        </option></select
      ><br />

      <label for="minimPret">Pret minim:</label><br />
      <input
        formControlName="minimPret"
        type="number"
        id="minimPret"
        name="minimPret"
      /><br />
      <label for="maximPret">Pret maxim:</label><br />
      <input
        formControlName="maximPret"
        type="number"
        id="maximPret"
        name="maximPret"
      /><br />
      <label for="minimKm">Km minimi:</label><br />
      <input
        formControlName="minimKm"
        type="number"
        id="minimKm"
        name="minimKm"
      /><br />
      <label for="maximKm">Km maximi:</label><br />
      <input
        formControlName="maximKm"
        type="number"
        id="maximKm"
        name="maximKm"
      /><br />

      <input type="submit" value="Cauta" />

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>

  </div>
  <div class="posts_information">
    <h2>User Posts</h2>
    <br />
    <br />
    <div class="posts" *ngIf="posts.length > 0">
      <div class="post" *ngFor="let post of posts" (click)="redirectToListingPage(post.id-1)">
        <h4>{{ post.titlu }}</h4>
        <p>
          {{ post.firma }} {{ post.model }} {{ post.anFabricatie }}
          {{ post.kilometraj }}km Price:{{ post.pret }}
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="posts.length === 0">
    <p>No posts to display.</p>
  </div>
</div>
