<app-navbar />
<div *ngIf="loaded == false">Loading</div>
<div *ngIf="loaded == true">
  <div class="container">
    <div class="profile_information">
      <h2>{{ userInfo.username }}</h2>
      <br />
      <!-- <h2>Profile information</h2> -->
      <br />
      <!-- <img src="profile?.linkPozaProfil" alt="Profile Image" width="100px" /> -->
      <img
        src="{{ getImageUrl(this.user) }}"
        width="100px"
        height="100px"
        style="display: block; margin-left: auto; margin-right: auto"
      />
      <br />
      <label class="name">First name: {{ userInfo.prenume }}</label>
      <br />
      <label class="name" (click)="test()"
        >Last name: {{ userInfo.nume }}</label
      >
      <br />
      <label>Phone number: {{ userInfo.nrTelefon }}</label> <br />
      <label>Birth date: {{ userInfo.dataNasterii }}</label> <br />
      <label>Ads: {{ userInfo.nrPostari }}</label
      ><br />
    </div>
    <!-- <button mat-icon-button color="primary" (click)="editProfile(profile)">
    <mat-icon>edit</mat-icon>
  </button> -->
    <!-- <app-edit-profile [profile]="this.profile"></app-edit-profile> -->
    <div class="posts_information">
      <h2>User Posts</h2>
      <br />
      <br />
      <div class="posts" *ngIf="posts.length > 0">
        <div class="post" *ngFor="let post of posts">
          <h4>{{ post.titlu }}</h4>
          <p>
            {{ post.firma }} {{ post.model }} {{ post.anFabricatie }}
            {{ post.kilometraj }}km Price:{{ post.pret }}
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="posts.length === 0">
      <p>No posts to display.</p>
    </div>
  </div>
</div>
