<app-navbar />

<!-- <div class="support-page">
    <div class="support-form">
      <app-support-form></app-support-form>
    </div>
    <div class="ticket-list">
      <app-ticket-list (selectTicket)="onSelectTicket($event)"></app-ticket-list>
    </div>
    <div class="ticket-chat" *ngIf="selectedTicketId">
      <app-ticket-chat [supportId]="selectedTicketId"></app-ticket-chat>
    </div>
  </div>
 -->
 <!-- <app-support-form></app-support-form>
 <app-ticket-list ></app-ticket-list> -->



 <div class="container">
    <div class="row">
      <div class="col">
        <app-support-form></app-support-form>
      </div>
      <div class="col">
       <app-ticket-list></app-ticket-list>
      </div>
    </div>