input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.logo {
  grid-column: 1;
  position: relative;
  bottom: 6vh;
}

.register-container {
  width: 40vw;
  margin: 0;
  position: relative;
  grid-column: 2;
  top: 0vh;
  overflow: hidden;
  background: transparent;
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
}

form {
  border-radius: 15px; /* Rotunjirea colțurilor formularului */
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 4vh;
  background-color: transparent; /* Culoare de fundal a formularului */
  font-size: 1.12rem;
  align-items: center;
}

label {
  color: white; /* Culoare text */
  font-size: 1.2rem; /* Dimensiune text */
}
input {
  background-color: #6450a3;
}

/* Stilizare pentru input-uri */
input[type="text"],
input[type="password"],
/* input[type="checkbox"], */
input[type="submit"] {
  width: 100%; /* Lățime completă */
  padding: 1.5vh; /* Spațiere interioară */
  margin-bottom: 10px; /* Spațiere între elemente */
  border: none; /* Eliminare bordură */
  border-radius: 8px; /* Rotunjirea colțurilor */
  margin-top: 10px;
}

/* Stilizare pentru buton */
button,
input[type="submit"] {
  position: relative;
  width: 35%; /* Lățime completă */
  left: 35%;
  padding: 2vh; /* Spațiere interioară */
  border: none; /* Eliminare bordură */
  border-radius: 15px; /* Rotunjirea colțurilor */
  background-color: #6450a3; /* Culoare de fundal */
  color: #fff; /* Culoare text */
  cursor: pointer; /* Cursor de selectare */
  transition: background-color 0.3s ease; /* Tranzitie pentru efectul de hover */
}

/* Stilizare pentru efectul de hover la buton */
button:hover,
input[type="submit"]:hover {
  background-color: black; /* Schimbare culoare de fundal la hover */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .register-container {
  width: 40vw;
  margin: 0;
  position: relative;
  top:0vh;
  overflow: hidden;
  background: transparent;
  height: 100%;
} */
